{% extends 'core/base.html' %}
{% block content %}
<div class=" container mt-5">
    <h1 class="text-warning mb-5 border-bottom">Experience</h1>
    <div class="row text-center text-white mb-5">
       
    <div class="col-sm-4">
        <i class="fa-solid fa-palette fa-2x i-colo"></i>
        <h3>Web Development</h3>
        <P class="text-info">one year of hands-on experience I possess a deep understanding of web development principles, along with proficiency in utilizing various Python framework such as Django I am skilled in building dynamic and scalable web applications, and am committed to delivering efficient and effective solutions to meet the needs of clients.</p>
    </div>
   
    <div class="col-sm-4">
        <i class="fa-brands fa-python fa-2x i-colo"></i>
        <h3 class="text-primary">Python</h3>
        <p class="text-warning">With a solid understanding of Python programming language, I possess the ability to develop robust applications, automate tasks, and perform data analysis. I am constantly expanding my knowledge of Python libraries and frameworks, and am passionate about leveraging its capabilities to deliver impactful solutions.</p>    </div>
    <div class="col-sm-4">
        <i class='fab fa-dochub fa-2x i-colo'></i>
        <h3 class="text-danger">Django</h3>
        <P class="text-info">As a skilled Django developer, I possess a strong command over Python programming and Django framework, enabling me to build robust web applications with ease. With hands-on experience in database modeling, routing, and templating, I am proficient in delivering high-quality, scalable, and maintainable web solutions.</P>
    </div>
    <div class="col-sm-4 ">
        <i class="fa fa-file-excel fa-2x i-colo "></i>
        <h3 class="text-danger">MS Excel</h3>
        <P class="text-info ">With a solid foundation in Microsoft Excel, I possess the ability to manipulate and analyze data, create complex formulas, and build visually appealing spreadsheets with ease. My expertise in Excel enables me to efficiently organize and present data, and effectively communicate insights to stakeholders.</P>
    </div>
    <div class="col-sm-4">
        <i class="fa-solid fa-palette fa-2x i-colo"></i>
        <h3 class="text-primary">GitHub/Control-version</h3>
        <P class="text-warning">My GitHub profile features a collection of small Django projects, demonstrating my proficiency in Django development and my experience using Git and GitHub for version control..</p>
    </div>
    <div class="col-sm-4">
        <i class="fa-solid fa-palette fa-2x i-colo"></i>
        <h3>Cloud Server</h3>
        <P class="text-info">As a Django developer, I have experience deploying web applications to production using PythonAnywhere, including configuring virtual environments, managing dependencies, and setting up databases.</p>
    </div>
    
    </div>
</div>
                
{% endblock content %}