{% extends 'core/base.html' %}
{% block content %}
<div class="container mt-5">
<h1 class="text-warning mb-5 border-bottom mt-5">SKILLS</h1>
<div class="row text-white">
<div class="col-sm-5">
<h3 class= "mt-5">HTML/CSS</h3>
<div class="progress">
    <div class="progress-bar bg-danger" role="progressbar" style="width: 90%"
        area-valuenow="100" area-value-min="0"
    area-valuemax="100">900%
</div>
</div>
</div>
<div class="col-sm-5 offset-sm-2">
    <h3 class= "mt-5">GitHub </h3>
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated"
            role="progressbar" style="width: 95%"
            area-valuenow="95" area-value-min="0"
        area-valuemax="100">95%
    </div>
    </div>
    </div>
    <div class="col-sm-5">
        <h3 class= "mt-5">Python</h3>
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 80%"
                area-valuenow="80" area-value-min="0"
            area-valuemax="100">90%</div>
        </div>
        </div>
    <div class="col-sm-5 offset-sm-2">
    <h3 class= "mt-5">Bootstrap</h3>
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated"
            role="progressbar" style="width: 70%"
            area-valuenow="70" area-value-min="0"
        area-valuemax="100">70%</div>
    </div>
    </div>
    <div class="col-sm-5">
        <h3 class= "mt-5">Jquery</h3>
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 90%"
                area-valuenow="90" area-value-min="0"
            area-valuemax="100">90%</div>
        </div>
        </div>
        <div class="col-sm-5 offset-sm-2">
            <h3 class= "mt-5">Django </h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated"
                    role="progressbar" style="width: 80%"
                    area-valuenow="60" area-value-min="0"
                area-valuemax="100">85%</div>
            </div>
            </div>
            <div class="col-sm-5">
                <h3 class= "mt-5">SQL</h3>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 90%"
                        area-valuenow="90" area-value-min="0"
                    area-valuemax="100">100%</div>
                </div>
                </div>
                <div class="col-sm-5 offset-sm-2">
                    <h3 class= "mt-5">Cloud Server/Heruko/Python anywhere </h3>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated"
                            role="progressbar" style="width: 95%"
                            area-valuenow="95" area-value-min="0"
                        area-valuemax="100">95%</div>
                    </div>
                    </div>
</div>
</div>
{% endblock content %}